$white: #ffffff;
$light-gray: #878787;
$gray: #292929;
$custom-black: #202020;
$custom-red: #d71e1e;

.textInput {
  color: $white !important;
  background: $custom-black !important;
  &:active {
    border: none !important;
  }
  &::placeholder {
    color: $light-gray !important;
  }
  &:hover {
    border: none !important;
  }
}

.bot {
  //   display: none;
  background: $custom-red;
  padding: 2rem;
  font-size: 1.4rem;
  max-width: 60%;
  height: fit-content;
  border-radius: 1rem 1rem 1rem 0;
}

.human {
  background: $gray;
  align-self: flex-end;
  padding: 2rem;
  font-size: 1.4rem;
  max-width: 60%;
  height: fit-content;
  border-radius: 1rem 1rem 0 1rem;
}
