@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

.App{
  background: #202020;
  color: #FFFFFF
}

@layer components {
  .generalPadding{
    @apply px-[2rem]
  }
}