@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  background: #000000;
}
.App {
  background: #202020;
  border-radius: 0.5rem;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

@layer components {
  .generalPadding {
    @apply px-[2rem];
  }
}
